.pandit-topbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  background: linear-gradient(to right, #f4a045, #f6b35b);
  color: white;
}

.online-dot {
  color: #7cff7c;
}

.pandit-sidebar {
  width: 200px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100vh;
  overflow-y: auto
}
.pandit-logout-btn{
  margin-top: auto;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
.pandit-sidebar a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.stat-card {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}
